:root {
    --primaryBackgroundColour: #e0f2fe;
    --secondaryBackgroundColour: #0369a1;
    --primaryTextColour: #18181b;
    --secondaryTextColour: #f0f9ff;
    --headerHeight: 5rem;
    font-size: calc(0.625rem + 0.4vw);
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    display: grid;
    grid-template-columns: 1.5fr 7fr;
}

.fa-solid {
    font-size: 1.3rem;
}

/*********************
    Sidebar Section
**********************/
#side-bar {
    background-color: var(--secondaryBackgroundColour);
    color: var(--secondaryTextColour);
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-content: center;
    gap: .5rem;
}

.fa-solid {
    padding-right: .8rem;
}

.fa-cube {
    font-size: 2.5rem;
}

#branding {
    font-size: 2rem;
}

/*********************
    Header Section
**********************/
#header {
    grid-row: 1/2;
    display: grid;
    grid-template-rows: var(--headerHeight) var(--headerHeight);
    grid-template-columns: 3fr 1.5fr;
    box-shadow: 0 5px #e2e8f0;
    background-color: var(--primaryBackgroundColour);
}

#top-left-header {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem;
}

#search-bar {
    background-color: #7dd3fc;
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
}

#search-button {
    height: 2rem;
    background-color: transparent;
    border: none;
    padding-left: 1rem;
}

#search-button:hover {
    transform: scale(1.2);
}

#bot-left-header {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1rem;
    padding-left: 2rem;
}

#user-icon-bot {
    grid-row: 1 / 3;
    grid-column: 1/2;
    height: 5rem;
    align-self: center;
}

#greetings {
    margin: 0;
    font-size: .8rem;
    align-self: end;
}

#user-intro {
    margin: 0;
    font-weight: bold;
}

#top-right-header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#user-name {
    font-weight: bold;
}

#bot-right-header {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 1rem;
}

.bot-right-buttons {
    height: 1.8rem;
    width: 5rem;
    border-radius: 18px;
    border: none;
    background-color: var(--secondaryBackgroundColour);
    color: var(--secondaryTextColour);
}

#user-icon-top, #user-icon-bot {
    height: 50px;
    border-radius: 50%;
}

/*********************
    Main Section
**********************/
#main-content {
    background-color: rgba(62, 124, 0, 0.844);
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: auto auto;
    background: #e5e7eb;
    padding-bottom: 1rem;
}

#mc-projects {
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 0 2rem 0 2rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.project-cell {
    background-color: var(--primaryBackgroundColour);
    border-radius: 15px;
    border-color: #404040;
    height: 12rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr)
}

h3 {
    font-weight: bolder;
}

.cell-title {
    margin-bottom: 0;
}

.func-buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: flex-end;
    align-items: flex-end;
}

/*********************
   Announcement Section
**********************/
#mc-right-announcements {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr;
    gap: .5rem;
    padding: 0 1rem;
}

#announcement-content {
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 1rem;
    background-color: var(--primaryBackgroundColour);
    padding: 1rem 0;
}

.announcement-border {
    height: 1px;
    background-color: #404040;
    margin: 0 2rem;
}

.announcement-cell {
    padding: 0 1rem 0 1rem;
}

.announcement-title {
    margin-top: 0;
    margin-bottom: 0;
}

.announcement-text {
    margin-top: 0;
    margin-bottom: 0;
}

/*********************
   Trending Section
**********************/

#mc-right-trending {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 3rem 1fr;
    padding: 0 1rem;
}

#trending-container {
    background: blueviolet;
    border-radius: 15px;
    background-color: var(--primaryBackgroundColour);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trending-cell {
    padding: 0 1rem;
    align-self: center;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 2rem);
    gap: 0 .5rem;
}

.trending-icon {
    height: 4rem;
    border-radius: 50%;
    grid-row: 1/3;
    align-self: center;
}

.trending-tag {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 0;
}

.trending-intro {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 0;
}


/*********************
   Footer Section
**********************/
footer {
    background-color: var(--primaryBackgroundColour);
    display: grid;
    grid-template-columns: repeat(2, auto);
    
}

footer > p {
    justify-self: flex-end;
    align-self: center;
    padding-right: 1rem;
}

footer > a {
    justify-self: flex-start;
    align-self: center;
}

.fa-github {
    color: var(--dark);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}